<!DOCTYPE html>
<html lang="en"
      xmlns:th="www.http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create new project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript">
        function dateSetter(element) {
            var text = element.options[element.selectedIndex].text;
            if(text==0){
                document.getElementById("startDate").value="";
            }

        }
    </script>


</head>
<body  class="mx-auto w-50">
<h1 class="my-5">Add Project</h1>



<form
        method="post"
        role="form"
        th:action="@{/projects/createNewProject}"
        th:object="${project}"
>
    <div class="form-group mb-3">
        <label class="form-label">Name</label>
        <input
                class="form-control"
                id="name"
                name="name"
                type="text"
        />
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Intro</label>
        <input
                class="form-control"
                id="intro"
                name="intro"
                type="text"
        />
    </div>

    <div class="form-group mb-3" hidden>
        <label class="form-label">Owner</label>
        <input
                class="form-control"
                id="owner"
                name="owner"
                type="text"

        />
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Status</label>
                <select id="status" name="status" class="status" onchange="dateSetter(this)">
                    <option value="Pre" >0</option>
                    <option value="Start">1</option>
                    <option value="End">3</option>
                </select>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Start Date </label>
        <input
                type="date"
                id="startDate"
                name="startDate"
        />
    </div>


    <div class="form-group mb-3">
        <label class="form-label">End Date</label>
        <input
                type="date"
                id="endDate"
                name="endDate"


        />
    </div>

    <input type="hidden" id="uList" value="${allUserList}">

    <div form-group class="mx-auto row">
        <label >Members</label>
        <select multiple data-mdb-placeholder="Example placeholder" id="members">
            <option th:each="i : ${allUserList}" th:value="${i.id}" th:text="${i.name}"
                    ></option>

        </select>
        <button type="button" onclick="getSelected()">Confirm</button>
    </div>

    <div class="form-group" >
        <label hidden>Added members</label>
        <input
                class="membersList"
                id="membersList"
                name="membersList"
                type="text"
                hidden
                />
    </div>










    <div class="form-group">
        <button class="btn btn-primary my-5" type="submit">Create Project</button>
    </div>
</form>
<script>
    const select2=document.getElementById('members')
    function getSelected(){
        const selectedOptions=[];
        for(const option of select2.options){
            if(option.selected){
                selectedOptions.push(option.value);
            }
        }
        if(selectedOptions.length>5){
            alert("You can only select upto 5 members");
            for(const option of select2.options){

                option.selected=false;

            }
        }
        console.log(selectedOptions.toString());

        document.getElementById('membersList').value=selectedOptions.toString();
        // console.log(document.getElementById("membersList").value);
        console.log( document.getElementById('membersList').value);
    }
</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>

    let select = document.getElementById("members");

    function populateList(){
                const users = document.getElementById(uList);
                for (let i = 0; i < users.length; i++) {
                    let optn = users[i].name;
                    let u_id=users[i].id
                    let el = document.createElement("option");
                    el.textContent = optn;
                    el.value = u_id;
                    select.appendChild(el);
                }
    }



</script>
</body>
</html>