<!DOCTYPE html>
<html lang="en"
      xmlns:th="www.http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Create new project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Registration and Login System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/users/login}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="mx-auto w-50">
  <h1>Register</h1>

  <form
          method="post"
          role="form"
          th:action="@{/users/createNewUser}"
          th:object="${user}"
  >
    <div class="form-group mb-3">
      <label class="form-label">Name</label>
      <input
              class="form-control"
              id="name"
              name="name"
              type="text"

      />
<!--      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>-->
      <p th:if="${#fields.hasErrors('name')}" th:style="'color: red;'">Name cannot be empty.</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Email</label>
      <input
              class="form-control"
              id="email"
              name="email"
              type="email"
      />
      <p th:if="${#fields.hasErrors('email')}" th:style="'color: red;'">Email cannot be empty.</p>

    </div>

    <div class="form-group mb-3">
      <label class="form-label">Password</label>
      <input
              class="form-control"
              id="password"
              name="password"
              type="password"
      />
      <p th:if="${#fields.hasErrors('password')}" th:style="'color: red;'" >Password cannot be empty.</p>

    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Create User</button>
    </div>
  </form>


</div>

</body>
</html>